*{
      margin: 0px;
      padding: 0px;
     
      font-family: 'Poppins', sans-serif;
}
/* header style */
 .container{
    background-color: antiquewhite;
 }
nav h3{
      font-size: 40px;
      margin-left: 100px;
   }
nav p{
    font-family: Work Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: center;

 }
   nav {
      display: flex;
      justify-content: space-between;
      margin: 0px 241px;
      padding: 50px 80px;

   }
   nav a{
      text-decoration: none;
      color: black;
      font-style:normal;
      font-size: 18px;
      margin-right: 20px;
   }
.nav-details{
    justify-content: center;
    background-color: antiquewhite;
}
.botton-details{
    justify-content: center;
}
.botton-info{
     padding: 20px 10px;
     color: white;
     background: orange;
     align-items: center;
      border-radius: 5px;
  }
.nav-img{
      justify-content: center;
}


/* Features  */
.Features{
   display: flex;
   
justify-content: space-between;
   margin: 40px 150px;
  margin-left: 10px;
  
}
.img-info{
   display: flex;
    gap: 24px 24px;
   margin-left: 100px;
}
.contant-info{
   margin-top: 200px;
   
 }
.contant-info h3{
  font-size: 45px;
}
.contant-info p{
  font-size: 16px;
  color: rgba(145, 159, 159, 0.808);
}



/* blogs section styles */
.blogs{
   display: flex;
     justify-content: space-between;
     gap: 25px;
     margin-right: 300px;
     margin-left: 300px;
}

.blog-header h1{
   font-size: 40px;
   color: black;

}
.blog-header p{
    width: 300px;
    height: 150px;
    font-size: 14px;
    
}


.blog-articals{
  margin-top: 15px;
   margin-left: 25px;
   }
.blog-articals, blog-1{
   margin-top: 20px;
}
.blog-articals p{
   font-size: 14px;
   
}

.blog-img{
    align-items: flex-end
}
 /* some facts style  */
.facts-header{
      margin: 100px 250px;
}
.facts-header h3{
     font-size: 40px;
}
.facts-icons{
   justify-content: center;
 }

.icons-info{
   display: flex;
   justify-content: space-between;
   margin: 60px 280px 300px;
}
/* our-sponspors */
.our-sponspors p{
   margin-top: 10px;
}

.Sponspors{
   display: flex;
  justify-content: space-between;
  margin: 50px 300px;
 color: black;
}


/* footer start  */
  
/* footer section  */
.contact{
   display: flex;
   gap: 200px;
background-color: peachpuff;
padding: 130px 300px;
color: black;
margin: 0px 300px;
border-radius: 2px;
}

.icons{
  display: flex;
  gap: 20px;
}


.email-info{
     width: 150px;
     height: 30px;
   border-color: white;
   background-color:peachpuff
   color: white;
   margin-bottom: 24px;
}
.btn-fo{
background-color: blue;
color: White;
width: 95px;
height: 40px;

}
 /* footer-bottom  */
.footer-bottom{
  background-color: peachpuff;
  margin: 50px 300px;
  padding: 20px 30px;
}